<!--
  This template loads for the 'tab.friend-detail' state (card.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{card.name}}">
  <ion-content id="application-detail">
    <!-- <img ng-src="{{card.face}}" style="width: 64px; height: 64px">
    <p>
      {{card.lastText}}
    </p> -->

    <div class="item item-divider">
				    {{card.title}}
				    <p>{{card.subtitle}}</p>
					</div>

			    <div class="item item-avatar">
				    <img src="{{card.img}}">
				    <h2>{{card.name}}</h2>
				    <p>{{card.occupation}}</p>
				  </div>

				  <div class="item item-text-wrap">
				  	
				  	<div class="no-text">NOPE</div>
	        <div class="yes-text">LIKE</div>

					  

				    <h2>Sobre el proyecto</h2>
			    	<p>{{card.description}}</p>
			    	<br>
			    	<h2>Keywords relevantes</h2>
			    	<div class="keywords"> 
			    	<span ng-repeat="keyword in card.keywords" class="proyect-keyword" ng-class="{blue : keyword.relevant}">{{keyword.name}}</span>
			    	</div>
				  </div>

				  <!-- <div class="button-bar padding">
					  <a class="button button-balanced">Aplicar</a>
					  <a class="button button-assertive">Rechazar</a>
					</div> -->
  </ion-content>
</ion-view>
