<ion-view view-title="Mi cuenta">
  <ion-content id="account">

			    <div class="item item-avatar">
				    <img src="img/mike.png">
				    <h2>{{main.user.name}}</h2>
				    <p>@{{main.user.username}} </p>

				  </div>

				  
				  
				  <ion-list class="padding">
				  	<div class="item">
					    User type
					    <span class="item-note">
					      {{main.user.type}}
					    </span>
					  </div>
				  </ion-list>

          <!-- <ion-item class="item-text-wrap">{{model}}</ion-item> -->
  </ion-content>
</ion-view>