<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="Aplicar" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/apply">
    <ion-nav-view name="tab-apply"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Aplicaciones" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/applications">
    <ion-nav-view name="tab-applications"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Mi proyecto" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/project">
    <ion-nav-view name="tab-project"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Mi cuenta" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Ajustes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
