<ion-view view-title="Field: {{well.fieldName}}">
  <ion-content>

  	<ion-list>
  		<ion-item class="item-remove-animate item-icon-right"  type="item-text-wrap">
        <h2>{{well.fieldName}}</h2>
        <p>ID: {{well.field_id}}</p>
      </ion-item>

  		<div class="item item-divider">
		    Wells

		  </div>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="a in well.wells  track by $index" type="item-text-wrap" href="#/tab/regions/{{well.region_id}}/fields/{{ a.field_id }}/wells/{{a.id}}/sensors">
        <h2>{{a.name}}</h2>
        <p>ID: {{a.id}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button ng-href="#/regions/edit/{{ reg.id }}" class="button-positive">Edit</ion-option-button>
				<ion-option-button href="#" ng-click="region.deleteRegion(reg.id)" class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>

	<!-- <div class="slide item item-text-wrap item-icon-left item-icon-right" href="#">
    <i class="icon ion-arrow-left-c"></i>
    Desliza las tarjetas<br>para aplicar o rechazar
    <i class="icon ion-arrow-right-c"></i>
  </div> -->

  </ion-content>
</ion-view>


