td-cards {
  display: block;
  z-index: 20;
  position: relative;
}

td-card {
  position: absolute;
  /*left: 50%;*/
  /*margin-top: 50px;*/
  /*transition: all 0.5s ease;*/
  width: 100%;
  z-index: 20;
  
}

.td-card > .list.card{
  height: 410px; 
}

td-card .item.item-text-wrap p {

  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*height: 3.6em;*/
  /*line-height: 1.2em;*/
}


.text-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3em;     /* fallback */
  max-height: 6.5em;      /* fallback */
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}

.keywords {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3em;     /* fallback */
  max-height: 80px;      /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.proyect-keyword.blue {
  background-color: #EC4940;
}

.proyect-keyword {
  background-color: #ccc;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7em;
  letter-spacing: 2px;
  padding: 0 5px;
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.yes-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 30px;
  background-color: rgb(111, 250, 111);
  padding: 10px;
  font-weight: 900;
  color: #fff;
  font-size: 1.5em;
  border-radius: 5px;
  opacity: 0;

  transform: translate(25px, -45px) rotate(30deg) scale(1.5);
}

.no-text {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 30px;
  background-color: rgb(255, 115, 115);
  padding: 10px;
  font-weight: 900;
  color: #fff;
  font-size: 1.5em;
  border-radius: 5px;
  opacity: 0;

  transform: translate(-30px, -55px) rotate(-30deg) scale(1.5);
}

#application-detail .item.item-divider {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;

}

#tab-apply .item.item-divider,
ion-modal-view .item.item-divider {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2em;
  line-height: 1.3em;
}

#tab-apply > div.slide {
  position: absolute;
  bottom: 50px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  border: 0;
  text-align: center;
  color: #aaa;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.2em;
}
